<div class="calculator">
    <div class="display" id="display">0</div>
    <div class="row g-2 mt-3">
        <div class="col-3"><button class="btn btn-calculator btn-gray">AC</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-gray">+/-</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-gray">%</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-orange">&#247;</button></div>

        <div class="col-3"><button class="btn btn-calculator btn-dark">7</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">8</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">9</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-orange">&#215;</button></div>

        <div class="col-3"><button class="btn btn-calculator btn-dark">4</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">5</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">6</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-orange">-</button></div>

        <div class="col-3"><button class="btn btn-calculator btn-dark">1</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">2</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">3</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-orange">+</button></div>

        <div class="col-3"><button id="toggleMode" class="btn btn-calculator btn-gray">☀️</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">0</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-dark">.</button></div>
        <div class="col-3"><button class="btn btn-calculator btn-orange">=</button></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
}